.BuddyListFull{position:absolute;height:100%;width:100%;top:0;left:0;overflow:hidden;background:#FFFFFF;}
.BuddyListFull .BuddyListHeader{position:relative;width:auto;top:0px;}
.BuddyListFull .BuddyListHeader .BuddyListHeaderInner{height:2em;width:auto;padding:6px 6px 0px 6px;background-position:center bottom;background-repeat:repeat-x;}
.BuddyListFull .BuddyListHeader .BuddyListHeaderInner .Text{position:absolute;height:20px;top:6px;left:25px;right:0px;margin-right:35px;overflow:hidden;text-overflow:ellipsis;color:#000;font-weight:normal;white-space:nowrap;}
.BuddyListFull .BuddyListHeader .BuddyListClose{position:absolute;top:6px;right:6px;}
.BuddyListFull .BuddyListHeader .BuddyListRefresh{position:absolute;top:6px;right:10px;}
.BuddyListFull .BuddyListContent{position:absolute;height:19.0em;width:100%;top:2.5em;overflow-x:hidden;overflow-y:auto;text-align:left;cursor:default;}
.BuddyListFull .BuddyListContent .BuddyListMessage{padding:6px;display:block;}
.BuddyListFull .BuddyListContent .BuddyListItem{width:100%;padding:1px 0px 1px 0px;}
.BuddyListFull .BuddyListContent .BuddyListItem .statusText, .BuddyListFull .BuddyListContent .BuddyListItem .messageText{color:#999999;}
.BuddyListFull .BuddyListContent .BuddyListItem .messageText img, .BuddyListFull .BuddyListContent .BuddyListItem .contactText img{vertical-align:-0.3em;}
.BuddyListFull .BuddyListContent .BuddyListItem a{width:97%;margin-left:auto;margin-right:auto;padding:0px 0px 1px 0px;display:block;overflow:hidden;text-overflow:ellipsis;border:1px solid #FFFFFF;text-decoration:none;color:#444444;background-color:#FFFFFF;}
.BuddyListFull .BuddyListContent .BuddyListItem a:hover{background-color:#F3F7FD;border:1px solid #BBD8FB;}
.cw_title{background-color:#d6eef8;position:relative;display:none;height:3.8em;color:#000;}
div.standardmode div.cw_title, div.standardmode .groupchat div.cw_group, div.standardmode div.cwtoolbar, div.standardmode div.cwtypestatus{display:block;}
.cw_pawn{position:absolute;padding:0.1 .36em 0.3em .36em;height:1.5em;width:1.5em;top:.32em;left:0em;}
.cw_psm, .cw_dn{font-family:Verdana;font-size:95%;}
.cw_psm, .cw_dn, .cw_dnText, .cw_dnTextNoEmoticons, div.cw_psm{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.cw_dnText, .cw_dnTextNoEmoticons{position:absolute;top:.1em;left:1.7em;right:.36em;padding-top:.15em;color:?SecondoryTextColor;font-size:100%;}
body.IE6 div.cw_popoutcontainer .cw_dn{padding-top:.72em;}
.cw_dnTextNoEmoticons{display:none;}
.cw_psm{position:absolute;padding-bottom:.55em;top:2.1em;left:1.7em;right:.36em;color:#444;}
.cw_group{position:relative;background-color:tan;overflow:hidden;height:3.8em;display:none;}
.cw_mid{position:absolute;top:3.8em;left:0em;right:0em;overflow:hidden;border-bottom:0em;border-top:0.075em solid #E9EAF1;}
div.standardmode div.cw_mid{bottom:8.76em;}
.NotIE6 div.standardmode.groupchat div.cw_mid, .IE6 div.standardmode_groupchat div.cw_mid{top:7.2em;}
div.quickmode div.cw_mid{top:0em;bottom:2.4em;}
.cw_history{position:absolute;top:0em;left:0em;width:100%;bottom:1.4em;background-color:White;overflow-x:hidden;word-wrap:break-word;overflow-y:auto;}
body.IE6 .cw_history{bottom:1.45em;}
body.FF .cw_history{overflow-x:auto;}
.cw_messageStatusContainer{background-color:#f1f1f1;position:absolute;bottom:0em;height:1.4em;width:100%;}
.cw_messageStatus, .tabc_messageStatus{font-size:84.6%;color:#888;background-color:#f1f1f1;vertical-align:middle;}
.cw_messageStatus{width:auto;overflow:hidden;text-align:center;vertical-align:top;white-space:nowrap;text-overflow:ellipsis;}
.cw_messageStatus, .tabc_messageStatus{overflow:hidden;text-align:center;vertical-align:top;white-space:nowrap;text-overflow:ellipsis;}
.cw_input{position:absolute;bottom:0em;left:0em;background-color:White;width:100%;height:8.76em;background:white repeat-x;background-position:left 1.75em;}
.cw_toolbar{position:absoulte;top:0em;left:0em;background:repeat-x 0em 0em;border:.075em solid #E9EAF1;width:100%;overflow:hidden;}
div.cw_toolbar{height:2.0em;}
div.quickmode .cw_toolbar{display:none;}
.cw_usermessage{position:absolute;top:3em;left:.3em;right:7em;height:5.35em;}
.cw_textbox{position:relative;overflow-y:auto;overflow-x:hidden;border:none 0em;padding:0em;margin:0em;height:4.45em;width:100%;background-color:Transparent;}
.cw_focusAnchor{position:absolute;left:1em;top:1em;}
body.FF div.standardmode textarea.cw_textbox{overflow-x:auto;}
.ToolbarContainer, .cw_sendbutton{background-position:center bottom;background-repeat:repeat-x;}
.cw_sendbutton{position:absolute;right:.3em;bottom:.3em;margin:0em;padding:0em;width:5.25em;height:2.0em;text-align:center;border:solid .075em #9E9AA1;color:#444;}
.ToolbarContainer, .cw_sendbutton{background-color:#BBD8FB;}
button.sendDisabled{background-image:none;border-color:#C7C7C7;background-color:#F1F1F1;color:#C7C7C7;cursor:pointer;}
.cw_historyspan{padding-left:.6em;padding-right:.6em;display:block;font-size:100%;}
.cw_historynontop{padding-top:.142em;font-size:100%;clear:both;}
.cw_sayschanged{padding-top:.6em;}
.cw_historysays{clear:both;color:#888;font-size:100%;line-height:115%;}
.cw_historytext{padding-left:1.42em;display:block;color:#444;font-size:100%;line-height:115%;padding-bottom:1px;}
.cw_padder{padding-top:0.2em;}
.cw_historyerrorhr{width:3.6em;overflow:hidden;display:block;}
.cw_historyerror, .cw_historyerror hr{color:#663433;}
.cw_historycontactAdd, .cw_historycontactAdd hr{color:#008000;}
.cw_historycontactDel, .cw_historycontactDel hr{color:#AD003A;}
.cw_historycontactStranger, .cw_historycontactStranger hr{}
.cw_historymsgcontainer{margin-top:1.2em;margin-bottom:.6em;}
.cw_historyicon{position:relative;top:.25em;}
.cw_historymsg{}
.cw_historymsg{color:#646464;background-color:White;vertical-align:middle;padding:1.2em 0em .6em .28em;}
.cw_historymsgtext{clear:both;display:block;}
.cw_popoutbody{position:absolute;top:0em;left:0em;bottom:0em;width:100%;}
.cw_nosearch .cw_popoutbody{bottom:0em;}
div.cw_popoutbody{height:100%;}
.FF div.cw_popoutbody{border-bottom:1px solid #d1d1d1;}
.cw_popoutcontrols{position:absolute;top:0em;right:0em;width:6em;height:100%;background-color:#DDECFE;}
div.cw_popoutcontrols .tabc_popoutTextAndButton{position:absolute;top:1em;right:1em;}
.cw_youframe, .cw_meframe{position:absolute;left:.35em;width:5.3em;height:5.3em;}
.cw_youframe{top:.35em;}
.cw_meframe{bottom:.35em;}
.cw_networkIconDiv{position:absolute;top:6.15em;left:.35em;height:1.46em;width:1.46em;display:none;}
div.federatedContactType{display:block;}
.conv_cw{position:absolute;z-index:20;left:0.375em;right:0.375em;top:-.15em;bottom:-.15em;overflow:hidden;background-color:#7DB0CC;}
div.cw_popoutcontainer .conv_cw{left:0em;right:0em;top:0em;bottom:0em;border-right:solid .075em #CCCCCC;}
.tabc_networkIconImg{height:1.46em;width:1.46em;}
.ToastFull{height:100%;background:white;overflow:hidden;position:absolute;width:100%;bottom:0;right:0;}
.ToastFull .Header{width:auto;position:relative;top:0px;}
.ToastFull .HeaderInner, .ToastMini .Header{background-position:center bottom;background-repeat:repeat-x;height:2em;width:auto;padding:6px 6px 0px 6px;}
body.IE .ToastMini .Header{padding-top:3px;}
.ToastFull .Header .Text{color:#000;font-weight:normal;position:absolute;left:25px;right:0px;top:6px;height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-right:35px;}
.IE6 .ToastFull .Header .Text{width:11em;}
.ToastFull .Header .Close{position:absolute;right:6px;top:6px;}
.ToastFull .Header .Minimize{position:absolute;right:25px;top:8px;}
.ToastFull .MessageTable{position:absolute;top:2em;height:7.2em;width:100%;overflow:hidden;cursor:default;text-align:center;margin-top:1em;}
.ToastFull .MessageCell, .ToastFull .Message{height:100%;width:100%;vertical-align:middle;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;margin-top:0.2em;}
.ToastMini{border:1px solid #CCC;height:100%;position:absolute;overflow:hidden;width:100%;bottom:0;right:0;}
.ToastMini .Header{width:auto;position:relative;}
.ToastMini .Header .Text{font-weight:bold;position:absolute;left:30px;top:3px;color:#000;width:12em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.ToastMini .Header .Maximize{position:absolute;right:6px;top:3px;}
.soundObj{width:0px;height:0px;}
IMG.Emoticon, IMG.Nudge{width:16px;height:16px;vertical-align:bottom;}
IMG.Nudge{width:24px;height:16px;vertical-align:bottom;}
.ToolbarList img.Emoticon{vertical-align:top;padding-right:0px !important;}
.IE6 .ToolbarList .DropDownImg{margin:4px 4px 4px 0px;border:0px;vertical-align:middle;}
html{overflow:hidden;}
body{padding:0px;margin:0px;height:100%;width:100%;position:absolute;overflow:visible;}
#form1{height:100%;}
FORM, SELECT{margin:0em;padding:0em;}
IMG{border:none;}
.DisplayNone{display:none;}
BODY, TEXTAREA, SELECT, INPUT{color:#444444;}
SELECT, INPUT, TEXTAREA, PRE{font-size:1em;}
BODY{background-color:#FFFFFF;}
B, STRONG, .BoldText{font-weight:bold;}
A{text-decoration:none;cursor:pointer;}
.INPUT{border:1px solid #dbdce3;}
A:hover{text-decoration:underline;}
A.withImage:link, A.withImage:visited{text-decoration:none;}
A.withImage:hover span{text-decoration:underline;}
.Clean{color:#A9A9A9;}
IMG.DropDownImg{padding:0 4px;}
.IE6 .PNG{visibility:hidden;}
.ImageClip .Clipper{position:absolute;}
.ImageClip .Icon{position:absolute;}
.ImageClip .Spacer{visibility:hidden;}
.Size16x16 .Clipper{clip:rect(0em 1.437em 1.437em 0em);}
.Size16x16 .Icon{height:1.437em;}
.Size16x16 .Spacer{height:1.437em;width:1.437em;}
.Size10x10 .Clipper{clip:rect(0em .9em .9em 0em);}
.Size10x10 .Icon{height:.9em;}
.Size10x10 .Spacer{height:.9em;width:.9em;}
.DisplayPictureArea{position:relative;}
.DisplayPictureFrameArea{position:absolute;top:0px;left:0px;z-index:2;display:inline;}
.DisplayPictureFrameArea IMG{height:5.3em;width:5.3em;}
.DisplayPicture{position:absolute;top:.45em;left:.45em;height:4.3em;width:4.3em;z-index:1;background-color:#FFFFFF;}
.IE6 .DisplayPicture{height:3.5em;width:3.5em;}
.Menu, .EmoticonMenu{display:none;border:1px solid #dbdce3;background-color:#FFFFFF;z-index:999999;position:absolute;white-space:nowrap;}
.Menu LI A{padding:2px 8px 2px 4px;width:auto;display:block;color:#000000;}
.Menu.LeftGrayColumn LI A{border-left:solid 19px #e9e9e9;}
.Menu.NoLeftGrayColumn LI A{border-left:0px;}
.hdr_OptionsMenuTopSeparator{border-top:1px solid #e9e9e9;}
.Menu LI A:hover{background-color:#d9f1f9;text-decoration:none;}
.Menu.LeftGrayColumn LI A:hover{background-color:#d9f1f9;text-decoration:none;border-left:solid 19px #d9f1f9;}
.Menu.NoLeftGrayColumn LI A:hover{border-left:0px;}
.Menu UL, .EmoticonMenu UL{margin:0px;padding:0px;list-style-type:none;}
.Menu IMG{margin:0px 2px;vertical-align:middle;}
.EmoticonMenu LI, .EmoticonMenu IMG{padding:0px;margin:0px;}
.SelectedItem{background-color:#c3ebf9;}
.LeftGrayColumn .SelectedItem A{border-left:#c3ebf9;}
IMG.cbImg{visibility:hidden;position:absolute;margin-left:-18px;padding-top:3px;}
.SelectedItem IMG.cbImg{visibility:visible;}
FORCE_REDRAW{display:inline;display:none;height:0px;width:0px;}
.FR2{top:0px;left:0px;height:100%;width:100%;}
body.textsizetoosmall .dontShowIfTextTooSmall{display:none;}
body.textsizetoosmall .showIfTextTooSmall{display:block;}
.ToolbarContainer{width:100%;height:30px;}
.ToolbarList{list-style-type:none;margin:0px;padding:2px 4px;}
.ToolbarList LI{position:relative;float:left;height:24px;}
.IE6 .ToolbarList LI{white-space:nowrap;width:1px;}
.ToolbarList A{display:block;padding:1px;border:0px;height:100%;}
.IE6 .ToolbarList LI A .FirstChild{position:relative;padding:2px;}
.ToolbarList LI A > *{position:relative;padding:4px;}
.ToolbarItemDisabled{-moz-opacity:0.5;opacity:.50;filter:alpha(opacity=50);}
.ToolbarItemDisabled A:hover{border:0px;padding:1px;cursor:default;}
.ToolbarItemPressed A{padding:1px;}
