.RelatedContentListing .header {
	margin: 0px 0px 5px;
}
.RelatedContentListing li a {
	margin: 0px; width: 100%; min-height: 70px;
}
.RelatedContentListing .Inline.ArticlePreview .title {
	margin-left: 100px;
}
#Essentials .sliderWindow {
	width: 370px; height: 95px;
}
#Essentials .sliderListing li {
	width: 370px;
}
#Essentials .more {
	margin: 5px 0px 0px; height: inherit; text-align: left; padding-right: 0px; float: none;
}
.VideoSeries .seriesSelector {
	width: 540px; height: 122px;
}
#MoreFeaturedVideos {
	margin: 0px 20px;
}
#MoreFeaturedVideos .moreFeaturedVideos {
	width: 910px; height: 122px;
}
.VideoSeries .seriesSelector .sliderListing li {
	width: 98px;
}
.VideoSeries .seriesSelector .sliderListing li.page {
	width: 540px;
}
.VideoSeries .moreFeaturedVideos .sliderListing li {
	width: 100px;
}
.VideoSeries .moreFeaturedVideos .sliderListing li.page {
	width: 910px;
}
.VideoSeries .sliderListing .title {
	height: 41px;
}
.VideoSeries .sliderListing .title:hover {
	text-decoration: underline;
}
.VideoSeries .sliderListing .selected .title {
	color: rgb(255, 255, 255); text-transform: uppercase; line-height: 40px; background-color: rgb(56, 158, 226);
}
.VideoSeries .moreFeaturedVideos .title {
	height: 41px;
}
.VideoSeries .moreFeaturedVideos .title:hover {
	text-decoration: underline;
}
.VideoSeries .moreFeaturedVideos .selected .title {
	color: rgb(255, 255, 255); text-transform: uppercase; line-height: 40px; background-color: rgb(56, 158, 226);
}
.articleTools .ShareTools {
	float: left;
}
.articleTools .twitter-share-button {
	float: left;
}
#TertiaryContent .fbFan {
	margin-bottom: 5px;
}
.articleTools {
	margin-bottom: 15px; float: left;
}
.articleTools .ShareTools {
	margin: 0px;
}
.articleTools .twitter-share-button {
	margin-left: 10px;
}
#ArticleBody {
	width: 440px; margin-left: 10px; float: right;
}
#RelatedContent {
	width: 160px; overflow: hidden; margin-right: 10px; float: left;
}
.footerShare .twitter-share-button {
	margin: 5px 0px 10px;
}
.footerShare .rule {
	height: 1px; color: rgb(169, 169, 169); border-top-color: rgb(169, 169, 169); border-top-width: 1px; border-top-style: dotted;
}
.footerShare .facebookLike {
	margin: 5px 0px 10px; width: 150px; clear: left; float: left;
}
.footerShare .readNext {
	width: 145px; height: 26px; line-height: 26px; font-weight: bold; margin-top: 12px; float: right;
}
.footerShare .readNext .icon {
	border-radius: 25px; width: 26px; height: 26px; float: right; background-repeat: no-repeat; -moz-border-radius: 25px; -webkit-border-radius: 25px;
}
.footerShare .readNext:hover {
	text-decoration: underline;
}
.footerShare .readNext:hover {
	background-position: right -2143px;
}
.Module.facebookLike {
	margin-bottom: 10px;
}
.articleTitle {
	margin: 0px 0px 5px; font-size: 30px;
}
.UGC .articleTitle {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.8);
}
.footer {
	margin: 0px 0px 10px; position: relative;
}
.byline {
	margin: 0px 0px 10px; display: inline;
}
.pubdate {
	margin: 0px 0px 10px; display: inline;
}
.address {
	margin: 0px 0px 10px; display: inline;
}
.byline {
	color: rgb(169, 169, 169);
}
.pubdate {
	color: rgb(169, 169, 169);
}
.difficulty {
	color: rgb(169, 169, 169);
}
#TopicViewLite .photoCredit {
	color: rgb(169, 169, 169);
}
.articlePhoto {
	margin: 0px 20px 10px 0px; width: 225px; float: left;
}
.articlePhoto img {
	padding: 5px; border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255);
}
.articlePhoto .caption {
	margin-top: 2px; display: block;
}
.Template2a .articlePhoto {
	width: 310px;
}
.body {
	margin-bottom: 0px;
}
.intro {
	margin-top: 0px;
}
.ugc {
	margin: 10px 0px; color: rgb(145, 145, 145); padding-bottom: 2px; font-size: 12px; font-weight: bold; border-bottom-color: rgb(169, 169, 169); border-bottom-width: 1px; border-bottom-style: dotted;
}
.intro {
	line-height: 1.4;
}
.step p {
	line-height: 1.4;
}
.difficulty {
	height: 25px; line-height: 25px; float: right;
}
.difficulty dt {
	display: inline;
}
.difficulty dd {
	display: inline;
}
.difficulty dt {
	color: rgb(0, 0, 0); font-weight: bold;
}
.difficulty {
	margin: 0px 0px 30px;
}
.sectionTitle {
	margin: 0px 0px 30px;
}
.section {
	list-style: none;
}
.nextSection {
	border-color: rgb(169, 169, 169);
}
.thingsYouNeed {
	margin: 25px 0px 20px 20px; padding: 0px 0px 20px 7px; width: 185px; clear: right; float: right; position: relative; background-repeat: no-repeat;
}
.thingsYouNeed .container {
	padding: 20px; background-color: rgb(247, 249, 248); -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}
.thingsYouNeed .tape {
	left: 50%; top: -10px; width: 75px; height: 20px; margin-left: -37px; position: absolute; background-color: rgba(247, 241, 219, 0.65);
}
.thingsYouNeed .header {
	padding: 3px 5px; color: rgb(255, 255, 255); font-weight: normal;
}
.thingsYouNeed .title {
	font-family: Georgia; border-bottom-color: rgb(220, 221, 220); border-bottom-width: 1px; border-bottom-style: solid;
}
.thingsYouNeed li:last-child .title {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.thingsYouNeed .UnorderedTitleList {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.Paper {
	padding: 20px; position: relative; background-repeat: no-repeat;
}
.Paper .tape {
	left: 50%; top: -10px; width: 100px; height: 20px; margin-left: -50px; position: absolute; background-color: rgba(247, 241, 219, 0.65);
}
.Paper .headline {
	margin: 12px 0px; height: 38px; position: relative;
}
.Paper .headline .text {
	text-indent: -50000px; float: left;
}
.Paper .headline .info {
	padding: 1px 2px; color: rgb(255, 255, 255); margin-right: 60px; float: right; cursor: pointer;
}
.Paper .headline .info:hover .TooltipContainer {
	width: 200px; right: 20px; color: rgb(0, 0, 0); line-height: 1.4em; display: block;
}
#relatedContent .ArticlePreview .title {
	font-size: 15px; font-weight: normal;
}
#relatedArticles .ArticlePreview .title {
	font-size: 15px; font-weight: normal;
}
#relatedVideos .ArticlePreview .title {
	font-size: 15px; font-weight: normal;
}
.steps {
	margin-left: 0px;
}
.generic {
	margin-left: 0px;
}
.paginated {
	margin-left: 0px;
}
.steps .stepNumber {
	font-family: serif; font-size: 30px; margin-top: -3px; float: left; min-height: 35px;
}
.steps .stepMeat {
	margin-left: 35px;
}
.steps .step p {
	margin: 0px 0px 10px;
}
.step {
	list-style: none; clear: left; margin-bottom: 20px;
}
p.intro {
	font-family: sans-serif; font-size: 14px;
}
.step p {
	font-family: sans-serif; font-size: 14px;
}
.step .Thumbnail {
	margin: 0px 8px 10px 0px; width: 100px; float: left; position: relative;
}
#ArticleSteps .step .Thumbnail {
	width: 100px;
}
.step .Thumbnail .caption {
	display: block; word-wrap: break-word;
}
.step .Thumbnail:hover {
	text-decoration: none;
}
.steps .sectionTitle {
	margin-bottom: 20px;
}
.steps .header {
	margin-bottom: 20px;
}
#Tombstone .title {
	font-weight: normal;
}
#Tombstone .title span {
	font-weight: normal;
}
.Pagination {
	margin-top: 4px; float: right;
}
.nextSection {
	padding-bottom: 5px; margin-bottom: 10px; border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid;
}
.generic .step {
	margin-bottom: 0px; float: left;
}
.tipsWarnings ul {
	border-top-color: rgb(0, 0, 0); border-top-width: 1px; border-top-style: dotted;
}
.tip {
	list-style: none; padding: 10px 0px; border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: dotted;
}
.warning {
	list-style: none; padding: 10px 0px; border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: dotted;
}
.tipsWarnings ul {
	border-color: rgb(169, 169, 169);
}
.tip {
	border-color: rgb(169, 169, 169);
}
.warning {
	border-color: rgb(169, 169, 169);
}
.tipIcon {
	width: 20px; height: 18px; margin-top: 12px; float: left;
}
.warningIcon {
	width: 20px; height: 18px; margin-top: 12px; float: left;
}
.tip p {
	margin-left: 40px;
}
.warning p {
	margin-left: 40px;
}
.resources .sponsored {
	height: 21px; color: rgb(102, 102, 102); line-height: 21px; font-family: Arial; font-size: 13px; float: right;
}
#relatedContent .UnorderedTitleList li .ArticlePreview a:hover {
	text-decoration: underline; background-color: transparent;
}
#relatedArticles .UnorderedTitleList li .ArticlePreview a:hover {
	text-decoration: underline; background-color: transparent;
}
#relatedVideos .UnorderedTitleList li .ArticlePreview a:hover {
	text-decoration: underline; background-color: transparent;
}
.VideoHeader {
	width: 620px; margin-left: 20px; float: left;
}
.VideoHeaderTools {
	margin-left: 30px; float: left;
}
.Widescreen.Template2a #VideoPlayer {
	width: 950px; position: relative;
}
.Widescreen.Template2a #VideoPlayer #VideoData {
	height: auto;
}
.Widescreen.Template2a #SecondaryContent {
	margin-top: 560px;
}
.Widescreen.Template2a#VideoLanding #SecondaryContent {
	margin-top: 680px;
}
#VideoPlayer #VideoData {
	background: url("/ui/shared/images/ajax-loader-black.gif") no-repeat center rgb(0, 0, 0); height: 349px; position: relative; z-index: 10;
}
#VideoPlayer object {
	background: rgb(0, 0, 0); display: block;
}
#VideoPlayer .articleTitle {
	margin-bottom: 10px;
}
#VideoPlayer .articleTools {
	margin-bottom: 0px;
}
#VideoPlayer .shadow {
	top: -2px; width: 300px; height: 15px; margin-left: 8px; display: block; position: relative;
}
#VideoPlayer .FLC.shadow {
	float: right;
}
#VideoPlayer #Summary {
	width: 620px; margin-top: -10px;
}
#VideoLanding .tombstones {
	margin-bottom: 30px;
}
.VideoSeries .ArticlePreview {
	text-align: center;
}
#EmbedTools {
	margin: 20px 0px; padding: 5px 15px 5px 20px; height: 25px; line-height: 25px; background-color: rgb(244, 244, 244);
}
#EmbedTools .label {
	float: left; display: inline;
}
#EmbedTools .code {
	float: left; display: inline;
}
#EmbedTools .label {
	font-weight: bold; margin-right: 5px;
}
#EmbedTools .code {
	width: 233px; overflow: hidden; padding-left: 5px; margin-right: 10px; box-shadow: inset 2px 2px 4px rgba(0,0,0,0.25); background-color: rgb(255, 255, 255); -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .25) inset; -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .25) inset;
}
#EmbedTools .code input {
	border: currentColor; width: 100%;
}
#EmbedTools .code code {
	width: 90000px; display: block;
}
#ArticleSteps #GoogleAdsense336x280 {
	margin-left: 35px;
}
#VideoLanding #relatedContent .ArticlePreview img {
	margin-right: 10px; float: left;
}
#VideoLanding #relatedContent .title {
	width: 289px;
}
#VideoLanding #relatedContent .playButton {
	margin: 0px 0px 0px 34px; left: 0px; top: 18px;
}
#ArticleComments .articleTitle {
	margin: 0px 25px 30px; font-size: 24px;
}
.FeaturedArticle .subtitle {
	color: rgb(167, 167, 167); font-style: italic;
}
.FeaturedArticle p {
	line-height: 1.4em;
}
.FeaturedArticle .intro::first-letter {
	margin: 4px 4px 2px 0px; font-size: 49px; float: left;
}
.FeaturedArticle .footer {
	margin: 0px;
}
.Figure {
	margin: 20px 20px 10px 0px; width: 355px; color: rgb(136, 136, 136); float: left; background-color: rgb(235, 235, 235);
}
.MainFigure {
	margin: 0px 0px 10px; width: 620px;
}
.Figure .image {
	max-width: 100%;
}
.Figure .caption {
	padding: 3px 5px; margin-top: -3px; float: left;
}
.PullQuote {
	margin: 10px 0px 0px 20px; padding: 20px 0px; width: 220px; border-top-color: rgb(0, 0, 0); border-top-width: 3px; border-top-style: solid; float: right;
}
.PullQuote .quote {
	font-style: italic;
}
.PullQuote .author {
	font-size: 16px;
}
.Sidebar {
	margin: 14px 20px 20px 0px; padding: 20px 0px; border: 1px solid rgb(234, 234, 234); width: 220px; float: left; position: relative; background-color: rgb(240, 240, 221); -moz-box-shadow: 0 10px 15px #eaeaea;
}
.Sidebar .tape {
	left: 50%; top: -8px; width: 112px; height: 16px; margin-left: -61px; position: absolute; opacity: 0.3;
}
.Sidebar .Figure {
	width: 220px;
}
.Sidebar .caption {
	margin: -3px 0px 10px; width: 100%; background-color: transparent;
}
.Sidebar .title {
	font-family: Arial; font-weight: bold;
}
.Sidebar p {
	padding: 0px 10px;
}
.Sidebar .title {
	padding: 0px 10px;
}
.Sidebar .list {
	padding: 0px 10px;
}
.Sidebar .item {
	margin: 0px 0px 10px 15px;
}
#AuthorProfile {
	background: rgb(255, 255, 255); border: currentColor; color: rgb(34, 34, 34); display: none; position: absolute; z-index: 5000; zoom: 1; box-shadow: 0px 5px 5px rgba(0,0,0,0.25); -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .25); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
}
#AuthorProfile .wrapper {
	padding: 20px; width: 400px;
}
#AuthorProfile .Heading3 {
	margin-bottom: 10px;
}
#AuthorProfile .Heading4 {
	margin: 15px 0px 5px; font-size: 16px;
}
#AuthorProfile img {
	margin: 0px 10px 0px 0px; height: 100px; float: left;
}
#AuthorProfile span {
	display: inline;
}
#AuthorProfile .close {
	display: none;
}
#AuthorProfile li {
	list-style: none;
}
.trigger {
	cursor: pointer;
}
.AuthorProfileWrap .trigger {
	display: inline-block;
}
.Template2a #Article p {
	line-height: 150%; font-family: Georgia; font-size: 15px;
}
.Template2a #Article p.Note {
	font-family: Arial; font-size: 11px;
}
#ArticleVideo #Helpful li span.tagline {
	margin-bottom: 0px;
}
#VideoLanding .shareTweet {
	margin: 0px 20px 0px 15px; width: 300px; float: right;
}
#TopicViewLite .resources {
	margin: 0px;
}
#TopicViewLite .bottomFooter {
	margin: 30px 0px;
}
.photoCredit {
	margin: 30px 0px; color: rgb(169, 169, 169);
}
.photoCredit .UnorderedTitleList {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.photoCredit .UnorderedTitleList .title {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.RCModule {
	margin: 0px 0px 15px; clear: both;
}
.RelatedContentPlatform img {
	height: 0px; font-size: 0px; display: none;
}
.footerShare .readNext .icon {
	background-image: url("/ui/sprites/images/content_788cf714.png");
}
.ContentCuration .flag {
	background-position: 0px -30px; background-image: url("/ui/sprites/images/content_788cf714.png");
}
#VideoPlayer .shadow {
	background-position: right -40px; background-image: url("/ui/sprites/images/content_788cf714.png");
}
.Paper {
	background-position: -4px -73px; background-image: url("/ui/sprites/images/content_788cf714.png");
}
.thingsYouNeed {
	background-position: -5px bottom; background-image: url("/ui/sprites/images/content_788cf714.png");
}
